.Button {
  cursor: pointer;
  background: linear-gradient(
    to bottom right,
    rgba(64, 157, 149, 1),
    rgba(92, 206, 197, 0.8),
    rgba(223, 255, 250, 0.6)
  );

  border: none;
  padding: 10px;
  border-radius: 5px;
}

.Button:hover {
  background-color: #fe6941;
  background: linear-gradient(
    to bottom right,
    rgba(64, 157, 149, 1),
    rgba(223, 255, 250, 0.6),
    rgba(254, 105, 65, 0.8)
  );
}
