version: "3.9"

name: lkdcode-kafka
services:
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: lkdcode-kafka-ui
    ports:
      - "18085:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: dev
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka-1:9093,kafka-2:9093,kafka-3:9093
    depends_on:
      - kafka-1
      - kafka-2
      - kafka-3

  kafka-1:
    image: apache/kafka-native:4.1.0
    container_name: lkdcode-kafka-1
    ports:
      - "19092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-1:9091,2@kafka-2:9091,3@kafka-3:9091
      KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER

      KAFKA_LISTENERS: CONTROLLER://0.0.0.0:9091,HOST://0.0.0.0:9092,DOCKER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: HOST://1.230.85.215:19092,DOCKER://kafka-1:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT,HOST:PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_DEFAULT_REPLICATION_FACTOR: 3
      KAFKA_MIN_INSYNC_REPLICAS: 2
    volumes:
      - kafka_data_1:/tmp/kraft-combined-logs
    restart: unless-stopped

  kafka-2:
    image: apache/kafka-native:4.1.0
    container_name: lkdcode-kafka-2
    ports:
      - "19094:9092"
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-1:9091,2@kafka-2:9091,3@kafka-3:9091
      KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER

      KAFKA_LISTENERS: CONTROLLER://0.0.0.0:9091,HOST://0.0.0.0:9092,DOCKER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: HOST://1.230.85.215:19094,DOCKER://kafka-2:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT,HOST:PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_DEFAULT_REPLICATION_FACTOR: 3
      KAFKA_MIN_INSYNC_REPLICAS: 2
    volumes:
      - kafka_data_2:/tmp/kraft-combined-logs
    restart: unless-stopped

  kafka-3:
    image: apache/kafka-native:4.1.0
    container_name: lkdcode-kafka-3
    ports:
      - "19095:9092"
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-1:9091,2@kafka-2:9091,3@kafka-3:9091
      KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER

      KAFKA_LISTENERS: CONTROLLER://0.0.0.0:9091,HOST://0.0.0.0:9092,DOCKER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: HOST://1.230.85.215:19095,DOCKER://kafka-3:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT,HOST:PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_DEFAULT_REPLICATION_FACTOR: 3
      KAFKA_MIN_INSYNC_REPLICAS: 2
    volumes:
      - kafka_data_3:/tmp/kraft-combined-logs
    restart: unless-stopped

  toxiproxy:
    image: ghcr.io/shopify/toxiproxy:2.12.0
    container_name: lkdcode-toxiproxy
    ports:
      - "8474:8474"
      - "19093:19093"
    depends_on:
      - kafka-1
      - kafka-2
      - kafka-3

volumes:
  kafka_data_1:
  kafka_data_2:
  kafka_data_3:
