version: "3.9"

name: lkdcode-kafka
services:
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: lkdcode-kafka-ui
    ports:
      - "18085:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: dev
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9093
    depends_on:
      - kafka

  kafka:
    image: apache/kafka-native:4.1.0   # 또는 apache/kafka:4.1.0
    container_name: lkdcode-kafka
    ports:
      - "19092:9092"
    environment:
      # 리스너: 컨트롤러/호스트/도커
      KAFKA_LISTENERS: CONTROLLER://localhost:9091,HOST://0.0.0.0:9092,DOCKER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: HOST://1.230.85.215:19092,DOCKER://kafka:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT,HOST:PLAINTEXT

      # KRaft 단일노드(개발/테스트)
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9091

      # 브로커 간 통신 리스너
      KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER

      # 단일 브로커이므로 RF=1 필수
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    #      - ALLOW_PLAINTEXT_LISTENER=yes
    #      # Bitnami 편의 옵션: PLAINTEXT 리스너 허용(개발용). 운영에선 SASL/SSL 권장.
    #
    #      - KAFKA_CFG_NODE_ID=1
    #      # 이 노드의 고유 ID (KRaft에서 필수). 모든 브로커/컨트롤러 간 중복 금지.
    #
    #      - KAFKA_CFG_PROCESS_ROLES=broker,controller
    #      # 이 프로세스의 역할 지정.
    #      # dev/로컬: broker,controller (combined)
    #      # prod: 보통 controller 전용 노드들과 broker 노드를 분리(격리 모드).
    #
    #      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
    #      # 컨트롤러 쿼럼 통신에 사용할 리스너 이름. 아래 LISTENERS에 동일한 이름이 있어야 함.
    #
    #      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,INTERNAL://:29092
    #      # 브로커가 바인드할 리스너들 정의.
    #      # PLAINTEXT : 클라이언트(프로듀서/컨슈머) 접속용
    #      # CONTROLLER: 컨트롤러 쿼럼 내부 통신용
    #      # INTERNAL  : 브로커 간(inter-broker) 통신/내부용
    #
    #      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092,INTERNAL://kafka:29092
    #      # 클라이언트/브로커에게 광고(announce)할 주소.
    #      # 로컬 접속은 localhost:9092, 컨테이너 내부/다른 서비스는 kafka:29092로 접근.
    #      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,INTERNAL:PLAINTEXT
    #      # 각 리스너에 매핑할 보안 프로토콜. 전부 PLAINTEXT(개발용).
    #      # 운영에선 적절히 SASL_SSL/SSL을 사용.
    #
    #      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
    #      # KRaft 컨트롤러 투표자 목록(nodeId@host:port).
    #      # 단일 노드 예시라 1개. 운영은 보통 3개(예: 1@c1:9093,2@c2:9093,3@c3:9093).
    #
    #      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=INTERNAL
    #      # 브로커 간 통신에 사용할 리스너 이름(INTERNAL) 지정.
    volumes:
      - kafka_data:/tmp/kraft-combined-logs
    restart: unless-stopped

volumes:
  kafka_data: