server:
  port: 18080

spring:
  kafka:
    bootstrap-servers: 127.0.0.1:29092,127.0.0.1:29094,127.0.0.1:29095
    producer:
      acks: all
      retries: 3

logging:
  level:
    org.springframework.kafka: INFO