server:
  port: 18080

spring:
  kafka:
    bootstrap-servers: 127.0.0.1:19092,127.0.0.1:19094,127.0.0.1:19095
    producer:
      acks: all
      retries: 3

logging:
  level:
    org.springframework.kafka: INFO