.input_section {
  display: flex;
  gap: 10px;
}

.input_box {
  flex: 1;
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid #000;
}

.add_button {
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: rgb(37, 147, 255);
  color: white;
  border: none;
}
